<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd"
	[
		<!ENTITY OUTBASE "../MATSimCarSharingBerlin/output">
		<!ENTITY INBASE  "../MATSimCarSharingBerlin/input">
	]
>

<config>
	<module name="global">
		<param name="coordinateSystem" value="GK4" />
	</module>
	
	<module name="network">
		<param name="inputNetworkFile" value="&INBASE;/network_berlin.xml.gz" />
	</module>
	
	<module name="plans">
		<param name="inputPlansFile" value="&INBASE;/plans_selected_car_berlin.xml" />
	</module>
	
	<module name="qsim">
		<param name="flowCapacityFactor" value="0.02" />
		<param name="storageCapacityFactor" value="0.02" />
		<param name="removeStuckVehicles" value="false" />
	 	<param name="mainMode" value="car,twowaycarsharing"   />  
	</module>
	
	<module name="vspExperimental">
		<param name="vspDefaultsCheckingLevel" value="ignore" />
	</module>
	
	<module name="controler">
		<param name="outputDirectory" value="&OUTBASE;" />
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="1000" />
		<param name="eventsFileFormat" value="xml" />
		<param name="mobsim" value="qsim" />
		<param name="writePlansInterval" value="50" />
		<param name="writeEventsInterval" value="50" />
		<param name="snapshotFormat" value="" />
	</module>
	
	
	<!-- ================  Parameters for Advanced Utility Function  ================ -->

	<module name="UtilityFunctionParameters" >
		<param name="MPT_Parmeter" value="1.0" />
		<param name="monetaryDistanceRate_car_km" value="-0.5" />
		<param name="monetaryDistanceRate_twowaycarsharing_km" value="-0.3" />	
	</module>

<!-- ================  Modal Preference Type Module - MPT  ================ -->
	<module name="MPT_PragmaticLongDistanceDriver" >
		<param name="MPTValue_Walk" value="5.0" />	
		<param name="MPTValue_PT" value="7.0" />
		<param name="MPTValue_Car" value="5.0" />
        <param name="MPTValue_CS_Ride" value="4.0" />
		<param name="MPTValue_Train" value="4.0" />	
	</module>
	
	<module name="MPT_AutoAddicted" >
		<param name="MPTValue_Walk" value="2.0" />	
		<param name="MPTValue_PT" value="3.0" />
		<param name="MPTValue_Car" value="6.0" />
        <param name="MPTValue_CS_Ride" value="5.0" />
		<param name="MPTValue_Train" value="1.0" />	
	</module>
	
	<module name="MPT_ActivePublicTransportationLover" >
		<param name="MPTValue_Walk" value="6.0" />	
		<param name="MPTValue_PT" value="6.0" />
		<param name="MPTValue_Car" value="1.0" />
        <param name="MPTValue_CS_Ride" value="3.0" />
		<param name="MPTValue_Train" value="2.0" />	
	</module>
	
	<module name="MPT_LazyPublicTransportationLover" >
		<param name="MPTValue_Walk" value="1.0" />	
		<param name="MPTValue_PT" value="6.0" />
		<param name="MPTValue_Car" value="1.0" />
        <param name="MPTValue_CS_Ride" value="2.0" />
		<param name="MPTValue_Train" value="2.0" />	
	</module>
	
	<module name="MPT_ActiveAutoLover" >
		<param name="MPTValue_Walk" value="4.0" />	
		<param name="MPTValue_PT" value="3.0" />
		<param name="MPTValue_Car" value="7.0" />
        <param name="MPTValue_CS_Ride" value="1.0" />
		<param name="MPTValue_Train" value="1.0" />	
	</module>

<!-- =================== Carsharing Module ============================= -->

<module name="Carsharing" >
		<param name="statsWriterFrequency" value="1" />	
				
	</module>    
        
        
	<module name="FreeFloating" >
		<param name="vehiclelocationsFreefloating" value="&INBASE;/Stations.txt" />	
		<param name="travelingFreeFloating" value="-1.0" />
		<param name="constantFreeFloating" value="-0.0" />
        <param name="timeFeeFreeFloating" value="-0.001" />
		<param name="distanceFeeFreeFloating" value="-0.001" />
   		<param name="specialTimeStart" value="0" />
		<param name="specialTimeEnd" value="0" />
		<param name="specialTimeFee" value="0" />

        <param name="useFreeFloating" value="false" />		
	</module>
    
	<module name="OneWayCarsharing" >
		<param name="vehiclelocationsOneWayCarsharing" value="&INBASE;/Stations.txt" />	
		<param name="travelingOneWayCarsharing" value="-10.0" />
		<param name="constantOneWayCarsharing" value="-0.4" />
        <param name="timeFeeOneWayCarsharing" value="-0.0" />
		<param name="distanceFeeOneWayCarsharing" value="-0.0" />
        <param name="useOneWayCarsharing" value="false" />
        <param name="searchDistanceOneWayCarsharing" value="2000.0" />		
	</module>
    
	<module name="TwoWayCarsharing" >
		<param name="vehiclelocationsTwoWayCarsharing" value="&INBASE;/Stations.txt" />	
		<param name="travelingTwoWayCarsharing" value="-6.0" />
		<param name="constantTwoWayCarsharing" value="-0.0" />
        <param name="timeFeeTwoWayCarsharing" value="-0.0" /> 
		<param name="distanceFeeTwoWayCarsharing" value="-0.0" />
        <param name="useTwoWayCarsharing" value="true" />
        <param name="searchDistanceTwoWayCarsharing" value="2000.0" />

	</module>

<!-- ====================================================================== -->

	<module name="strategy">
		<param name="maxAgentPlanMemorySize" value="5" /> <!-- 0 means unlimited -->
		<param name="planSelectorForRemoval" value="WorstPlanSelector" />

		<param name="ModuleProbability_1" value="0.8" />
		<param name="Module_1" value="ChangeExpBeta" />

		<!-- 
		<param name="ModuleProbability_2" value="0.2" />
		<param name="Module_2" value="ReRoute" />
		<param name="ModuleDisableAfterIteration_2" value="200" />
		 -->
		
		<param name="Module_2" value="ChangeTripMode" />
		<param name="ModuleProbability_2" value="0.2" />
		<param name="ModuleDisableAfterIteration_2" value="500" />
		 
		<!-- 
		<param name="Module_2" value="RandomTripToCarsharingStrategy" />
		<param name="ModuleProbability_2" value="0.2" />	
		<param name="ModuleDisableAfterIteration_2" value="1000" />
		 --> 
	</module>

<!-- ================  ChangeTripMode - Strategy-Settings ================ -->
	
	<module name="changeLegMode">
	
		<param name="modes" value="car,twowaycarsharing" />
		<param name="ignoreCarAvailability" value="true"/>
	
	</module>

<!-- ====================================================================== -->	
	
	<module name="planCalcScore" >
		<param name="marginalUtilityOfMoney" value="1.0" />
		<param name="BrainExpBeta" value="1.0" />
			
		
		<parameterset type="activityParams" >
			<param name="activityType" value="home" />
			<param name="typicalDuration" value="43200.0" />
		</parameterset>

		<parameterset type="activityParams" >
			<param name="activityType" value="work" />
			<param name="typicalDuration" value="32400.0" />
		</parameterset>

		<parameterset type="activityParams" >
			<param name="activityType" value="leis" />
			<param name="typicalDuration" value="7200.0" />
		</parameterset>

		<parameterset type="activityParams" >
			<param name="activityType" value="shop" />
			<param name="typicalDuration" value="3600.0" />
		</parameterset>

		<parameterset type="activityParams" >
			<param name="activityType" value="other" />
			<param name="typicalDuration" value="1800.0" />
		</parameterset>
		
		<parameterset type="modeParams" >
				<param name="constant" value="0.0" />
				<param name="marginalUtilityOfDistance_util_m" value="0.0" />
				<param name="marginalUtilityOfTraveling_util_hr" value="-6.0" />
				<param name="mode" value="car" />
				<param name="monetaryDistanceCostRate" value="-0.0" />
			</parameterset>
		
	</module>
</config>
